<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jumio Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Jumio Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)='invokeNetverify()'>Netverify</ion-button><br>
    <ion-button (click)='invokeDocumentVerification()'>Document Verification</ion-button><br>
  </div>
</ion-content>
